<div style="padding: 2rem 0;">
  <%= render "form", video_project: @video_project %>
  
  <div style="text-align: center; margin-top: 1rem; display: flex; gap: 1.5rem; justify-content: center;">
    <%= link_to "View Project", @video_project, class: "nav-link" %>
    <%= link_to "Back to Board", root_path, class: "nav-link" %>
  </div>
</div>
