<div id="<%= dom_id production_task %>">
  <div>
    <strong>Description:</strong>
    <%= production_task.description %>
  </div>

  <div>
    <strong>Completed:</strong>
    <%= production_task.completed %>
  </div>

  <div>
    <strong>Video project:</strong>
    <%= production_task.video_project_id %>
  </div>

</div>
